#paralax {
    background-image: url(../Images/image.jpg);
    padding-top: 30vh;
    min-height: 90vh;
    overflow: hidden;
    background-size: cover;
}

.buttonCard {
    margin-top: auto;
    margin-bottom: 5px;
    background: #4EA84E;
}

.navbar-brand {
    font-size: 35px;
    font-family: 'Caladea', monospace;
    color: #000;
}

.nav-item {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Inter', monospace;
    text-align: center;
    white-space: nowrap;

}

.nav-item::after {
    content: '';
    display: block;
    width: 100%;
    background-color: #000;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

.nav-item:hover::after {
    transform: scale(1);
}

.shopping-cart {
    margin-left: 30px;
    font-size: 20px;
    font-family: 'Inter', monospace;
    text-align: center;
    white-space: nowrap;
}

.footer {
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    min-height: 80px;
}

#card {
    max-width: 3000px;
}

#down, #up {
    display: none;
    width: 24px;
    height: 24px;
    margin-left: 16px;
    padding: 0;
    background: 0 0;
    border: none;
}

.override-scroll-y {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.scroll-y {
    overflow-y: scroll;
}

#st1 {
    margin-top: 0.3em;
    margin-left: 0.3em;
}

.st0 {
    width: 12px;
    height: 12px;
}

.display-none, .filter {
    display: none;
}

#container {
    overflow-x: hidden;
}

.up {
    float: left;
    margin-top: 1.65em;
    background: #f8f9fa;
}

#up {
    margin: 0;
}

#category-menu {
    display: none;
}

#down-category {
    background: white;
    border: none;
}

.categories {
    background: #f8f9fa;
}

@media screen and (max-width: 768px) {
    .card {
        width: 80%;
    }

    .card-img-top {
        min-height: 200px;
    }

    #down, #up {
        display: inline-block;
    }

    #up.display-none {
        display: none;
    }

    #menu, #category-menu {
        display: none;
        z-index: 1;
        background: white;
        height: 100vh;
        top: 0;
        overflow-y: scroll;
    }

    #category-menu .categories {
        display: flex !important;
        flex-direction: column;
        align-items: stretch;
    }

    #menu.display-flex {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: start;
        top: 0;
        width: 100vw;
    }

    #category-menu.display-flex {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: stretch;
        top: 0;
        width: 100vw;
    }

    .dropdown {
        justify-content: stretch;
    }

    .btn-light {
        width: 100%;
        text-align: left;
    }

    .filter {
        display: block;
        margin: 1em;
    }

    #menu.display-none {
        display: none;
    }

    .dropdown-toggle {
        background: white;
    }
      
    #container {
        align-items: stretch;
    }
    
    .dropdown-menu{
        position: relative;
        width: 100%;
        top: 0;
    }
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
