﻿@{
    ViewBag.Title = "About";
}
@using SunMaria.Areas.Item.Models
@model List<Items>
@{ var items = Model; }
@Styles.Render("~/Content/css")
@Styles.Render("~/bundles/items")
<link rel="stylesheet" href="~/Content/List.css">
<div class="up">
    <button id="up">
        <svg xmlns="http://www.w3.org/2000/svg" width="12" height="16" viewBox="0 0 12 16">
            <path fill-rule="evenodd" d="M11.41 9H.59C0 9 0 8.59 0 8c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zm0-4H.59C0 5 0 4.59 0 4c0-.59 0-1 .59-1H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1h.01zM.59 11H11.4c.59 0 .59.41.59 1 0 .59 0 1-.59 1H.59C0 13 0 12.59 0 12c0-.59 0-1 .59-1z"/>
        </svg>
    </button>
</div>
<div class="filter">
    <button class="btn btn-warning d-flex" id="filter">
        <span>Фильтр</span>
        <svg id="st1" x="0px" y="0px" width="12" height="16" viewBox="0 0 402.577 402.577" style="enable-background:new 0 0 402.577 402.577;" xml:space="preserve">
            <g>
                <path d="M400.858,11.427c-3.241-7.421-8.85-11.132-16.854-11.136H18.564c-7.993,0-13.61,3.715-16.846,11.136   c-3.234,7.801-1.903,14.467,3.999,19.985l140.757,140.753v138.755c0,4.955,1.809,9.232,5.424,12.854l73.085,73.083   c3.429,3.614,7.71,5.428,12.851,5.428c2.282,0,4.66-0.479,7.135-1.43c7.426-3.238,11.14-8.851,11.14-16.845V172.166L396.861,31.413   C402.765,25.895,404.093,19.231,400.858,11.427z"/>
            </g>
        </svg>
    </button>
</div>
<div class="d-flex justify-content-center" id="container">
    <div id="menu" class="">
        <button class="align-self-end" id="down">
            <svg class="st0" aria-hidden="true">
                <use xlink:href="#icon-close-modal" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <svg viewBox="0 0 16 16" id="icon-close-modal">
                        <path d="M9.4,8l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L8,6.6L1.7,0.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L6.6,8  l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C0.5,15.9,0.7,16,1,16s0.5-0.1,0.7-0.3L8,9.4l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3  c0.4-0.4,0.4-1,0-1.4L9.4,8z"></path>
                    </svg>
                </use>
            </svg>
        </button>
        <h6 class="sidebar-heading d-flex flex-column align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
        </h6>
        <ul class="nav flex-column m-2" style="margin-left:-15px;">
            <li class="nav-item">
                <a class="nav-link active" href="?category=Штаны" onclick="">Штаны</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Order</a >
            </li>
        </ul>

        <h6 class="sidebar-heading d-flex flex-column align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
        </h6>
        <ul class="nav justify-content-center p-2" style="margin-left:-15px;">
            <li class="nav-item">
                <a class="nav-link active" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#"> Order</a>
            </li>
        </ul>
    </div>
    <div id="category-menu" class="">
        <button class="align-self-end" id="down-category">
            <svg class="st0" aria-hidden="true">
                <use xlink:href="#icon-close-modal" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <svg viewBox="0 0 16 16" id="icon-close-modal">
                        <path d="M9.4,8l6.3-6.3c0.4-0.4,0.4-1,0-1.4s-1-0.4-1.4,0L8,6.6L1.7,0.3c-0.4-0.4-1-0.4-1.4,0s-0.4,1,0,1.4L6.6,8  l-6.3,6.3c-0.4,0.4-0.4,1,0,1.4C0.5,15.9,0.7,16,1,16s0.5-0.1,0.7-0.3L8,9.4l6.3,6.3c0.2,0.2,0.5,0.3,0.7,0.3s0.5-0.1,0.7-0.3  c0.4-0.4,0.4-1,0-1.4L9.4,8z"></path>
                    </svg>
                </use>
            </svg>
        </button>
        @{ Html.RenderAction("Index", "Category"); }
    </div>
    <div id="card" class="row">
        @{
            /* foreach (var item in items)
                */
            for (int k = 0; k < items.Count; k++)
            {
                <div class="w-100 card-group col-sm-4 col-lg-3 col-md-3 d-flex justify-content-center" style="padding-bottom: 20px; background-color: #FFF2F2;">
                    <div class="card mt-2" href="id/@items[k].Id">
                        <a href="id/@items[k].Id" class="custom-card p-2">
                            @try
                            {
                                <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/" + items[k].Photo[0].Name)">
                            }
                            catch
                            {
                                <img class="card-img-top w-100 d-block" src="@Url.Content("~/images/product_1.jpeg")">
                            }
                            <div class="card-body align-baseline text-left">
                                <h5 class="card-title">@Convert.ToString(items[k].Name)</h5>
                                <p class="card-text text-break">@Convert.ToString(items[k].Price)</p>
                                @*<button class="btn buttonCard" type="button">Button</button>*@
                            </div>
                        </a>
                    </div>
                </div>
            }
        }
    </div>

    @section Footer {}

</div>

@section scripts
{
    <script>
        
        $(document).ready(() =>{    
            let A = $('.up');
            let B = $('header');
            let C = $('body > .categories');
             A.replaceWith(C.clone());
             C.replaceWith(A);
            A.replaceWith(B.clone());
            B.replaceWith(A);
            $('#filter').click(()=>{
                window.scrollTo(0, 0);
                $('#menu').addClass('display-flex');
                $('#up').addClass('display-none');
                $('body').addClass('override-scroll-y');
                $('html').addClass('override-scroll-y');
            });
            
            $('#up').click(()=>{
                 window.scrollTo(0, 0);
                 $('#category-menu').addClass('display-flex');
                 $('#up').addClass('display-none');
                 $('body').addClass('override-scroll-y');
                 $('html').addClass('override-scroll-y');
            });
            
             $('#down').click(()=>{
                $('#menu').removeClass('display-flex');
                $('#up').removeClass('display-none');
                $('body').removeClass('override-scroll-y');
                $('html').removeClass('override-scroll-y');
             });
             
             $('#down-category').click(()=>{
                $('#category-menu').removeClass('display-flex');
                $('#up').removeClass('display-none');
                $('body').removeClass('override-scroll-y');
                $('html').removeClass('override-scroll-y');
             });
        });
    </script>

}