﻿@model SunMaria.Models.LoginModel

@{
    ViewBag.Title = "Login";

}
@Styles.Render("~/Content/css")

<div class="container" style="margin-top:10vh;">
    <h2 class="text-center">Вход</h2>


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            <div class="row">
                <div class="col-lg-4"></div>

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-lg-4"></div>
                <div class="form-group col-lg-4">
                    <p></p>
                    <div class="">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Email" } })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>

            <div class="row">
                <div class="col-lg-4"></div>
                <div class="form-group col-lg-4">

                    <div class="">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control form-control-lg", @placeholder = "Пароль" } })
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-lg-4"></div>
            </div>

            <div class="form-group">
                <div class=" text-center">
                    <input type="submit" value="Войти" class="btn btn-light" style="filter: invert(100%);" />
                </div>
            </div>
        </div>
    }

</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
