﻿@model SunMaria.Areas.Item.Models.CartIndexViewModel

@{
    ViewBag.Title = "Корзина";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-center">Ваша корзина</h2>
<div class="container">
<table class="table">
    <tbody>
        @foreach(var line in Model.Cart.Lines)
        {
            <tr>
                <td>@line.Quantity</td>
                <td>@line.Item.Name</td>
                <td>@line.Item.Price</td>
                <td>@(line.Item.Price*line.Quantity)</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>@Model.Cart.ComputeTotalValue().ToString("#.## грн")</td>
        </tr>
    </tfoot>
</table>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
</div>
