@model IEnumerable<SunMaria.Areas.Item.Models.Categories>
<div class="categories d-lg-flex d-md-none d-none">
    @{
        var headers = Model.Select(category => category.Subgroup).Distinct().ToList();
    }

    @foreach (var header in headers)
    {
        <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @header
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                @foreach (var category in Model.Where(c => c.Subgroup == header))
                {
                    <a class="dropdown-item" href="#">@category.Name</a>
                }
            </div>
        </div>
    }
</div>